name: KeyVault Migration

on:
  workflow_dispatch:
    inputs:
      sp_appId:
        description: 'Service Principal AppId'
        required: true
      sp_tenantId:
        description: 'Service Principal TenantId'
        required: true
      sp_secret:
        description: 'Service Principal Secret'
        required: true
      source_subscription_id:
        description: 'Source Subscription ID'
        required: true
      source_keyvault_name:
        description: 'Source Key Vault Name'
        required: true
      target_subscription_id:
        description: 'Target Subscription ID'
        required: true
      target_keyvault_name:
        description: 'Target Key Vault Name'
        required: true

permissions:
  contents: read

jobs:
  migrate-keyvault:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Azure Login (Az Module)
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
          auth-type: service_principal

      - name: Setup PowerShell
        uses: actions/setup-powershell@v2

      - name: Run Key Vault Migration
        run: pwsh ./scripts/migrate-keyvault.ps1 -AppId "${{ github.event.inputs.sp_appId }}" -TenantId "${{ github.event.inputs.sp_tenantId }}" -Secret "${{ github.event.inputs.sp_secret }}" -SourceSubscriptionId "${{ github.event.inputs.source_subscription_id }}" -SourceVaultName "${{ github.event.inputs.source_keyvault_name }}" -TargetSubscriptionId "${{ github.event.inputs.target_subscription_id }}" -TargetVaultName "${{ github.event.inputs.target_keyvault_name }}"
