name: KeyVault Deployment

on:
  workflow_dispatch:
    inputs:
      subscription_id:
        description: 'Azure Subscription ID'
        required: true
      tenant_id:
        description: 'Azure Tenant ID'
        required: true
      resource_group_name:
        description: 'Resource Group Name'
        required: true
      keyvault_name:
        description: 'Key Vault Name'
        required: true
      location:
        description: 'Azure Location'
        required: true
      subnet_id:
        description: 'Subnet ID for Key Vault'
        required: true

permissions:
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Azure Login
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
          auth-type: service_principal

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform init

      - name: Terraform Apply
        run: terraform apply -auto-approve -var "subscription_id=047ae087-7d35-4c57-8fe9-7a442cc9cf16" -var "tenant_id=93f33571-550f-43cf-b09f-cd331338d086" -var "resource_group_name=poc21-rg321" -var "keyvault_name=Keyvault-dxc321" -var "location=eastus" -var "subnet_id=/subscriptions/047ae087-7d35-4c57-8fe9-7a442cc9cf16/resourceGroups/poc21-rg321/providers/Microsoft.Network/virtualNetworks/poc21-rg321-vnet/subnets/pe-subnet"
