name: Hello World Fail

on:
  workflow_dispatch:  # allows manual trigger

jobs:
  hello:
    runs-on: ubuntu-latest

    steps:
    - name: Print Hello World
      run: |
        echo "Hello World"
        exit 1  # deliberately fail
